.boxTitle {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
}
.noPaddingBottom {
  padding-bottom: 0px;
}
.dimensionTitle {
  position: relative;
  width: 100%;
  height: 55px;
  background-color: #64c8ff14;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.7s ease;
}

/* seta direita */
.dimensionTitle::after {
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  width: 0;
  height: 0;
  border-top: 27.5px solid transparent;
  border-bottom: 27.5px solid transparent;
  border-left: 40px solid #64c8ff14;
  transition: all 0.7s ease;
}

.dimensionTitle:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .boxTitle {
    width: 80%;
  }
  .dimensionTitle {
    width: 100%;
  }
  .TitleInform {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 380px){
  .TitleInform{
    font-size: 1.2rem;
  }
  
}
