.boxTitule {
  padding: 50px 0;
  width: 100%;

}

.dimensionTitle {
  position: relative;
  width: 600px;
  height: 55px;
  background-color: var(--collor-primary-navyblue);
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 20px;
  cursor: pointer;
  transition: all 0.7s ease;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* seta esquerda */
.dimensionTitle::before {
  content: "";
  position: absolute;
  top: 0;
  left: -40px;
  width: 0;
  height: 0;
  border-top: 27.5px solid transparent;   /* metade da altura (55px/2) */
  border-bottom: 27.5px solid transparent;
  border-right: 40px solid var(--collor-primary-navyblue);
  transition: all 0.7s ease;
}

/* seta direita */
.dimensionTitle::after {
  content: "";
  position: absolute;
  top: 0;
  right: -40px;
  width: 0;
  height: 0;
  border-top: 27.5px solid transparent;
  border-bottom: 27.5px solid transparent;
  border-left: 40px solid var(--collor-primary-navyblue);
  transition: all 0.7s ease;
}

/* animação hover */
.dimensionTitle:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px var(--collor-details-cyan);
}
