.contentDescription {
  max-width: 1980px;
  margin: 0 auto;
  padding: 10px 4%;
  display: flex;
  align-items: center;
  justify-content: center;

  .contentBox {
    width: 500px;
    height: 720px;
    border: 1px solid var(--collor-details-cyan);
  }
}
